<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <%= image_tag 'logo.svg', class: 'logo' %>
      <li class="menu-text">Caffeine at Boost</li>
      <li><%= link_to 'Orders', orders_path %></li>
      <li><%= link_to 'New Order', new_order_path, class: 'button' %></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <% if controller_name != 'sessions' %>
        <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'button' %></li>
      <% end %>
    </ul>
  </div>
</div>
