body.page form {
  background: $white;
  color: black;
  border-radius: $border-radius;
  padding: 2.5rem;

  input[type=email], input[type=password] {
    border-radius: $border-radius;
    box-shadow: none;

    &:focus, &:active {
      box-shadow: none;
      border: 0.21rem solid $curious-blue;
    }
  }

  input[type=checkbox] {
    margin-bottom: 0;
    zoom: 1.7;
  }
}
