@import 'variables';

body.page {
  .h2, h2 {
    color: $blue;

    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  background-color: $grey;
}

.button, button {
  border-radius: $border-radius;
  margin-bottom: 0rem; // Reset
  font-size: 1em;

  &.pink {
    background: $pink;
  }
}

div.hidden.divider {
  padding-bottom: 1em;
}
